#waiter {padding:0;background:#fff;height:50em;}
#waiter-p {width:4em;height:4em;transition:background .2s,border-radius .1s;}
#waiter-ux {overflow:hidden;color:#09387d;margin-top:20em;}
#vidtray-lmr,#vidtray-ws {padding:0;overflow:hidden;border:0;}
